nav {
  display: flex;
  background-color: rgb(39, 35, 35);
  padding: 10px;
  color: white;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  padding: 10px;
  list-style: none;
  text-decoration: none;
}
nav a {
  color: white;
  text-decoration: none;
}
nav a:hover {
  background-color: black;
}


header h1{
text-align: center;
}
header p {
    font-size:30px;
}
section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#content {
  border: 1px solid black;
}